<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users list</title>
</head>
<body>
<h3>users table</h3>
<table border="2">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td th:text="${user.getId()}">VALUE</td>
    <td th:text="${user.getName()}">VALUE</td>
    <td th:text="${user.getAdress()}">VALUE</td>
  </tr>
  </tbody>
</table>

<form name="logoutForm" th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out"/>
</form>
</body>
</html>